<div class= "container">
  <div class="dealer-part" *ngIf='dealers.length > 0'>
    <div class="dealers" *ngFor='let dealer of dealers'>
      <div class = "dealer">
        <span class="dealer-header"> {{dealer.first_name}} {{dealer.last_name}}</span>
        <span>Telefonnummer: {{dealer.mobile}}</span>
        <span>Email: {{dealer.email2}} </span>
        <span>Aufenthalt: {{dealer.room}}</span>
        <span>Verfügbar: {{dealer.available}}</span>
        <span>Verschwunden: {{dealer.away}}</span>
        <span>Grund: {{dealer.away_reason}}</span>
        <button class='setAppointment' (click)= ' activateCreateAppointment(dealer._id)'>Termin</button>
        <div class="appointments" *ngIf=" appointment == dealer._id ">
          <span class="dealer-header">Sende Benachrichtigung</span>
          <form [formGroup]="appointmentForm" (ngSubmit)="createAppointment(dealer._id, dealer.room)">
            <div class="form-group">
              <label for="">Beschreibung:</label>
              <input type="text" formControlName="beschreibung" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.beschreibung.errors }" />
              <div *ngIf="submitted && f.beschreibung.errors" class="invalid-feedback">
                  <div *ngIf="f.beschreibung.errors.required">Beschreibung fehlt</div>
              </div>
          </div>
          <div class="form-group">
            <label for="">Raum:</label>
            <input type="text" formControlName="raum" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.raum.errors }" />
            <div *ngIf="submitted && f.raum.errors" class="invalid-feedback">
                <div *ngIf="f.raum.errors.required">Beschreibung fehlt</div>
            </div>
        </div>

        <div class="form-group"></div>
        <label for="produkt">Wähle ein Produkt:</label>
          <select class="products"  formControlName="produkt">
            <option *ngFor='let product of products'>{{product.name}}</option>
          </select>
          <div class="form-group">
        </div>
          <span>Wähle Block von 1-{{blocks.length}}</span>
          <div class="form-group">
              <label for="block">Blocknummer:</label>
              <input type="number" formControlName="block" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.block.errors }" />
              <div *ngIf="submitted && f.block.errors" class="invalid-feedback">
                <div *ngIf="f.block.errors.required">Block fehlt</div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Produkt:</label>
            <input type="number"  style="width:50px;"  formControlName="jahr" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.jahr.errors }" />
            <input type="number"  style="width:50px;"  formControlName="monat" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.monat.errors }" />
            <input type="number"  style="width:50px;"  formControlName="tag" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tag.errors }" />
            <div *ngIf="submitted && f.produkt.errors" class="invalid-feedback">
                <div *ngIf="f.produkt.errors.required">Username is required</div>
            </div>
        </div>
          <div class="form-group">
              <button [disabled]="loading" class="my_button">Send</button>
          </div>
        </form>
        </div>
     </div>
  </div>
</div>
<div *ngIf='dealers.length == 0'> There are no Dealers in the Database</div>
</div>
