/*CALENDAR CHANGES*/
#calendar h2, #agenda h2{
  font-size: 1.5em;
}

.mdl-layout__header-row{
  border-bottom: solid;
  border-bottom-color: #767777;
}

#calendar a, #agenda a{
  color: rgba(0,0,0,.87) !important;
}

/*PAGE SECTIONS CHANGES*/
.dashboard-section {
  position: relative;
  height: 800px;
  width: auto;
}

.calendar-section{
  position: relative;
  width: auto;
}

.buddies-section{
  
}

.mdl-card{
  /*fix overlapping width*/
  width: auto;
}

/*DETAIL*/
#solo-card{
  margin: auto;
}
.mdl-dialog{
  width:100%;
}
.mdl-grid > .mdl-textfield > .mdl-textfield__label{
  color: rgba(0,0,0,.54);
}
.mdl-textfield-time{
  width: 150px;
  display: inline-block;
  margin: -10px 0px;
}
.mdl-textfield-buddy{
  width: 150px;
  display: inline-block;
  margin: -10px 5px;
}
.mdl-textfield-buddy-long{
  width: 300px;
}

/*Wide card with share menu button*/
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../img/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.demo-card-wide > .mdl-card__supporting-text {
  text-align: left;
}
.demo-card-wide > .mdl-card__supporting-text > .mdl-textfield{
  margin: -10px 0px;
}

.demo-card-wide.mdl-card:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

#calendar{
  padding: 2%;
}

/*NAV BAR*/
.android-logo-image{
  height: auto;
  width: 160px;
}
.android-drawer .mdl-layout-title {
  background: #004594;
}
.android-navigation .mdl-navigation__link:hover{
  border-bottom: 4px solid #004594;
}

/*kleiner als 900px*/
@media (max-width: 900px){
  .android-logo-image{
    margin-top: -10px;
  }
  .mdl-navigation{
    border-top: solid;
    border-top-color: #767777;
  }
}
/*größer als */
@media (min-width: 769px){
  #agenda{
    padding: 20px 10% 20px 10%;
  }
  .mdl-dialog{
    width:50%;
  }
}
/*Menu fix for mobile devices*/
@media (max-width: 1024px){
	.mdl-layout__header .mdl-layout__drawer-button {
		display: block;
	}
}