<div class='container'>
  <div class='picture'>
    <img src= "assets/svgs/hanf.svg">
  </div>
  <div class ="logout" *ngIf="logout">
      <button (click)= "logout()">Logout</button>
  </div>
  <form [formGroup]="searchForm" (ngSubmit)="sendSearch()">
    <div class="form-group">
      <input style="width:400px;" placeholder="Suche was" type="text" formControlName="suche" class="form-control"  />
      <button class="my_button">Send</button>
    </div>
</form>
<div class = 'links'>
    <nav>
      <a routerLink="/overview" routerLinkActive="active">Overview</a>
      <a routerLink="/dealers" routerLinkActive="active">Dealers</a>
      <a routerLink="/products" routerLinkActive="active">Products</a>
      <a  routerLink="/profile" routerLinkActive="active">Profile</a>
    </nav>
 </div>
</div>
